.container {
  width: 15rem;
  height: 20rem;
  position: absolute;
  top: 4.2rem;
  border: 1px solid rgba(00, 00, 00, .1);
  background-color: white;
  z-index: 1;
}

.container p {
  text-align: center;
}
.products {
  height: 80%;
  padding: .3rem;
  overflow: auto;
  scrollbar-width: thin;
}

.btn_container {
  height: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 70%;
  width: 80%;
  background-color: rgba(00,00,00, .4);
  border:none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noItem {
  text-align: center;
  padding-top: 1rem;
}

.btn:hover {
  background-color: rgba(00, 00, 00, .6);
}

@media (max-width: 380px) {
  .container {
    left: .1rem;
  }
}
