.container {
  width: 15rem;
  height: 20rem;
  position: absolute;
  top: 4.2rem;
  border: 1px solid rgba(00, 00, 00, .1);
  background-color: white;
}

.products {
  height: 80%;
  padding: .3rem;
  overflow: auto;
  scrollbar-width: thin;
}

.btn_container {
  height: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 70%;
  width: 80%;
  background-color: rgba(00,00,00, .4);
  border:none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(00, 00, 00, .6);
}
