.container {
  padding: 1rem 15rem;
  display: flex;
}

.error {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.error span {
  color: red;
}

.item {
  display: flex;
  justify-content: space-between;
}

.image_container {
  width: 40%;
}

.img {
  height: 100%;
  width: 100%;
}

.product_info {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0  1rem;
}

.name {
  padding: 1rem 0;
  border-bottom: rgba(00,00,00,.2) 1px solid;
  }
.price {
  padding: 1.1rem 0;
}
.info {
  padding-bottom: 1rem;
}
.hor {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}
.price,
.hor h4 {
  font-weight: normal;
}

.hor:last-child {
  border-bottom: 1px rgba(00,00,00, .2) solid;
}

.name,
.price,
.info,
.hor {
  text-transform: capitalize;
}

.quantity {
  height: 100%;
  width: 7rem;
  background-color: rgba(00,00,00, .1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.quantity:first-child:hover,
.quantity:last-child:hover {
  background-color: rgba(00,00,00, .2);
}

.description {
  background-color: rgba(00,00,00, .1);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 5rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.add {
  background-color: rgba(00,00,00, .1);
  padding:1rem;
  border-radius: 5px;
  height: 100%;
  display:flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 1160px){
  .container {
    padding: 1rem 10rem;
  }
  .name {
    padding: .5rem 0;
  }
  .price {
    padding: 1rem 0;
  }
  .info {
    padding-bottom: 1rem;
  }
}

@media (max-width: 1050px) {
  .price {
    padding: .5rem 0;
    font-size: .9rem;
  }
  .info {
    padding-bottom: .5rem;
    font-size: .9rem;
  }

  .hor {
    padding-bottom: .5rem;
  }

  .description {
    font-size: .9rem;
    padding: 1rem;
  }

  .cart {
    font-size: .8rem;
    height: 15%;

  }
  .quantity {
    font-size: .8rem;

  }
}

@media (max-width: 970px) {
  .container {
    padding: 1rem 8rem;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 1rem 6rem;
  }
}

@media (max-width: 740px) {
  .container {
    padding: 1rem 4rem;
  }
}

@media (max-width:680px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .product_info {
    padding: 0 .5rem;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 0 1rem;
  }
  .item {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .image_container {
    width: 100%;
    height: 25rem;
    padding: 1rem 1rem;
  }
  .product_info {
    width: 100%;
  }
  .info {
    padding-bottom:1rem;
  }

  .description {
    margin-bottom: 2rem;
  }
  .name {
    padding: 0;
  }
}

@media (max-width: 300px) {
  .container {
    padding: 0 1rem;
  }

  .image_container {
    padding: .5rem .2rem;
    height: 20rem;
  }
}
