.container {
  padding: 1rem 8rem;
  display: flex;
}

.error {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.category {
  margin-top: -1rem;
  font-weight: normal;
  font-size: .9rem;
}

.error span {
  color: red;
}

.item {
  display: flex;
  margin: 0 auto;
}

.image_container {
  width: 50%;
}

.img {
  width: 100%;
  height:100%;
}

.product_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.name {
  padding: 0 0 1rem 0;
  font-size: 2rem;
  }

.price {
  padding: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.quantity  {
  background-color: rgba(00,00,00, .1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity button {
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.quantity h3 {
  padding: 1rem;
}

.description {
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.addBtn {
  cursor: pointer;
  border: none;
  background-color: rgba(00,00,00, .1);
  padding:1rem;
  font-size: 1rem;
  display:flex;
  align-items: center;
  text-align: center;
  transition: .2s ease;
}

.addBtn:hover {
  padding: 1.1rem;
  background-color: rgba(00, 00, 00, .2);
}

.add:hover {
  background-color: rgba(00,00,00, .2);
}




@media (max-width: 1160px){
  .container {
    padding: 1rem 7rem;
  }
  .name {
    padding: .5rem 0;
  }
  .price {
    padding: 1rem 0;
  }
  .info {
    padding-bottom: 1rem;
  }
}

@media (max-width: 1050px) {
  .price {
    font-size: 1.5rem;
  }

  .description {
    padding: 1rem 0;
  }

  .cart {
    font-size: .8rem;
    height: 15%;

  }
  .quantity {
    font-size: .8rem;

  }
}

@media (max-width: 970px) {
  .container {
    padding: 1rem 7rem;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 1rem 4rem;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 1rem 2rem;
  }
  .product_info {
    padding: 0 2rem;
  }
}

@media (max-width:710px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 650px) {
  .product_info {
    padding: 0 1rem;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 1rem;
  }
  .item {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .image_container {
    width: 100%;
    height: 25rem;
    padding: 1rem 1rem;
  }
  .product_info {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
  }
}

@media (max-width: 400px) {
  .container {
    padding: .5rem;
  }
  .image_container {
    padding: 0 .2rem;
    height: 20rem;
  }
}

@media (max-width: 330px) {
  .product_info {
    padding: 0 1rem;
  }
}
