.container {
  padding: 1rem 10rem;
}

.container>* {
  padding: 1rem;

}

.container>div:first-of-type {
  padding-bottom: 2rem;
}

.container button {
  background-color: rgba(00, 00, 00, .1);
  border: none;
  cursor: pointer;
  padding: 1.1rem 3rem;
}

.container button:hover {
  background-color: rgba(00, 00, 00, .2);
}

@media (max-width: 800px) {
  .container {
    padding: 1rem 5rem;
  }
}


@media (max-width: 500px) {
  .container {
    padding: 1rem 3rem;
  }
}

@media (max-width: 300px) {
  .container {
    padding: .5rem;
  }
}
