.container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.container h3{
  padding-bottom: 2rem;
  text-align: center;
  font-weight: normal;
}


.error {
  color: red;
  font-size: .8rem;
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.container form{
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding-bottom: 2rem;
    width: 100%;
  }
}
