.item {
  margin:.4rem;
  padding: .5rem;
  border-radius: 10px;
  height: fit-content;
  width:30%;
  background-color: #F6F7F8;
}
.img_container {
  height: 85%;
  background-color: rgba(00,00,00, 0.4);
}
.img {
  height: 100%;
  width: 100%;
}
.info{
  display: flex;
  justify-content:space-between;
  padding:.3rem
}

@media(max-width:660px){
  .item {
    width:45%;

  }
}

@media (max-width: 600px){
  .item {


  }
}

@media (max-width: 550px){
  .item {
    width:40%;
    padding: .5rem 0;
  }
  .img_container {
    height: 50% ;
  }
}

@media (max-width:440px){
  .item {
    width:45%;
  }
}
