.item {
  margin:.4rem;
  padding: .5rem;
  border-radius: 10px;
  height: 20rem;
  width:30%;
  background-color: #F6F7F8;
}
.img_container {
  height: 85%;
  background-color: rgba(00,00,00, 0.4);
}
.img {
  height: 100%;
  width: 100%;
}
.info{
  display: flex;
  justify-content:space-between;
  padding:.3rem
}

@media (max-width:900px){
  .item{
    width:45%;
  }
}

@media(max-width:700px){
  .item {
    width:65%;

  }
}

@media (max-width: 600px){
  .item {
    width:80%;
  }
}

@media (max-width: 550px){
  .item {
    width:100%;
    padding: .5rem 0;
  }
}
