.container {
  padding: 1rem 5rem;
}

.container ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: .05rem;
  border-bottom: 1px solid gray;
}
.container ul li {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  list-style: none;
}
.container ul li:hover {
  background-color: rgba(00,00,00, .2);
}
.container article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.container article img {
  width: 8rem;
  height: 15rem;
}


.container article  button {
  background-color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
