.container {
  display: flex;
  justify-content: center;
  padding:1rem 7rem 1rem 7rem;
}

@media (max-width:900px){
  .container {
    padding:.5rem 4rem;
  }
}

@media (max-width:800px){
  .container {
    padding: .5rem 4rem;
  }
}

@media (max-width: 550px){
  .container {
    padding: .5rem 1rem;
  }
}

@media (max-width: 440px){
  .container {
    display: block;
  }
}
