.nav{
  height:100%;
  width:100%;
}

.nav_item {
   background-color:#e5e7e9; 
  height:40%;
  display:flex;
  justify-content:space-around;
  align-content: center;
  align-items: center;
  padding:1rem;
}
.logo {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.items{
  column-gap: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.links_container {
  display: flex;
  padding: 1.5rem;
  justify-content: space-around;
  align-items: center;
}

.links {
  height: 100%;
  column-gap: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
