.nav{
  height:100%;
  width:100%;
  padding: 0 9rem;
  border-bottom: 1px solid rgba(00,00,00,.07);
}

.nav a {
  text-decoration: none;
}

.nav_item {
  border-bottom: 1px solid rgba(00,00,00,0.07);
  height:40%;
  display:flex;
  justify-content:space-around;
  align-content: center;
  align-items: center;
  padding:1rem;

}
.logo {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 1rem;
}
.items{
  column-gap: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.items .cart {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 1rem;
}

.links_container {
  display: flex;
  padding: 1.5rem;
  justify-content: space-around;
  align-items: center;
}

.links {
  column-gap: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline block;
}

.dropdown button {
  background-color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: .1rem;
}

.btn {
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

@media (max-width:900px) {
  .nav {
    padding: 0 5rem;
  }
}

@media(max-width: 750px) {
  .nav {
    padding: 0;
  }
}

@media (max-width: 380px) {
  .logo {
    display: none;
  }

  .nav_item {
    padding: 1rem 2rem;
    justify-content: space-between;
  }
}
