.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.item img {
  max-width: 30%;
  flex-basis: 50%;
}
.item p,
.item img {
  display: flex;
  justify-content: center;
}
