.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.item p {
  width: 25%;
  display: flex;
  justify-content: center;
}

.btn_container {
  width: 25%;
  display: flex;
  justify-content: center;
}
.item button {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 1rem;
}
