.input{
  border: none;
  border-bottom: 1px solid rgba(00,00,00, .4);
  font-size: 1.2rem;
  padding: .4rem 0;
  color: gray;
  margin-bottom: 2rem;
}

.input:focus {
  outline: none;
}

.label
{
  font-size: .9rem;
}
