.container {
  width: 30%;
}
.search {
  width: 100%;
  padding: .5rem;
  border-radius: 15px;
  border: 1px solid rgba(00, 00, 00, .15);
  font-size: .9rem;
  transition: .3s ease;
  outline: none;
  color: #757575;
}
.search:hover{
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
